build.mak
build/cc-auto.mak
build/os-auto.mak
cand_cnt
config.log
config.status
pjlib-util/bin/
pjlib-util/build/.pjlib-util-test-x86_64-unknown-linux-gnu.depend
pjlib-util/build/.pjlib-util-x86_64-unknown-linux-gnu.depend
pjlib-util/build/os-auto.mak
pjlib-util/build/output/
pjlib-util/lib/
pjlib/bin/
pjlib/build/.pjlib-test-x86_64-unknown-linux-gnu.depend
pjlib/build/.pjlib-x86_64-unknown-linux-gnu.depend
pjlib/build/os-auto.mak
pjlib/build/output/
pjlib/include/pj/compat/m_auto.h
pjlib/include/pj/compat/os_auto.h
pjlib/include/pj/config_site.h
pjlib/lib/
pjmedia/bin/
pjmedia/build/.pjmedia-audiodev-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-codec-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-test-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-videodev-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjsdp-x86_64-unknown-linux-gnu.depend
pjmedia/build/os-auto.mak
pjmedia/build/output/
pjmedia/include/pjmedia-codec/config_auto.h
pjmedia/include/pjmedia/config_auto.h
pjmedia/lib/
pjnath/bin/
pjnath/build/.pjnath-test-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjnath-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjturn-client-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjturn-srv-x86_64-unknown-linux-gnu.depend
pjnath/build/output/
pjnath/lib/
pjsip-apps/bin/
pjsip-apps/build/.pjsua-x86_64-unknown-linux-gnu.depend
pjsip-apps/build/.pjsystest-x86_64-unknown-linux-gnu.depend
pjsip-apps/build/output/
pjsip/bin/
pjsip/build/.pjsip-simple-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-test-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-ua-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsua-lib-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsua2-lib-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsua2-test-x86_64-unknown-linux-gnu.depend
pjsip/build/os-auto.mak
pjsip/build/output/
pjsip/include/pjsip/sip_autoconf.h
pjsip/lib/
third_party/build/g7221/.libg7221codec-x86_64-unknown-linux-gnu.depend
third_party/build/g7221/output/
third_party/build/gsm/.libgsmcodec-x86_64-unknown-linux-gnu.depend
third_party/build/gsm/output/
third_party/build/ilbc/.libilbccodec-x86_64-unknown-linux-gnu.depend
third_party/build/ilbc/output/
third_party/build/os-auto.mak
third_party/build/resample/.libresample-x86_64-unknown-linux-gnu.depend
third_party/build/resample/output/
third_party/build/speex/.libspeex-x86_64-unknown-linux-gnu.depend
third_party/build/speex/output/
third_party/build/srtp/.libsrtp-x86_64-unknown-linux-gnu.depend
third_party/build/srtp/output/
third_party/build/webrtc/.libwebrtc-x86_64-unknown-linux-gnu.depend
third_party/build/webrtc/output/
third_party/build/yuv/.libyuv-x86_64-unknown-linux-gnu.depend
third_party/build/yuv/output/
third_party/lib/
